@import "tailwindcss";

@theme {
  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;
  --color-light-bg: #f8fafc;
  --color-card-bg: #ffffff;
  --color-text-main: #1e293b;
  --color-text-secondary: #475569;
}
